---
import Layout from "../layouts/Layout.astro";
import Compressor from "../components/Compressor.jsx";
---

<Layout>
  <main class="min-h-screen bg-slate-950">
    <Compressor client:load />
  </main>
</Layout>
